<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to "OpenAI Assistants", testing_openai_assistants_path %></li>
  <li class="breadcrumb-item"><%= link_to @assistant.name, testing_openai_assistant_path(@assistant) %></li>
  <li class="breadcrumb-item"><%= link_to "Datasets", testing_openai_assistant_datasets_path(@assistant) %></li>
  <li class="breadcrumb-item active">New Dataset</li>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="mb-4">
      <i class="bi bi-plus-circle"></i> Create New Dataset
    </h1>
    <p class="text-muted">Create a dataset of test scenarios for <%= @assistant.name %></p>

    <%= render "form", assistant: @assistant, dataset: @dataset %>
  </div>
</div>

